.header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  padding-top: clamp(0.5em, 0.5em + 2vw, 1em);
  padding-bottom: clamp(0.5em, 0.5em + 2vw, 1em);
  align-items: center;
}
