@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300;500;700&family=Vollkorn&display=swap");
@import url("https://db.onlinewebfonts.com/c/64103e95b3ca5ab4ebf815b4f19e00f2?family=Lenora+Premium+Bold");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@300;500;700&family=Poppins:ital,wght@0,200;0,300;0,600;1,100&family=Vollkorn&display=swap");

:root {
  --header-color: rgb(245, 241, 241);
  --body-color: rgb(243, 237, 237);
  --colorText1: rgb(15, 27, 59);
  --colorText2: rgb(15, 27, 59);
  --colorText3: rgb(15, 27, 59);
  --componentColor1: rgb(255, 255, 255);

  /* I m trying to follow the 60/30/10 color rule : 60% of a neutral color,
  30% of contrasted color for elements, 10% of visible color for interactive parts */
  --color60: rgb(15, 27, 59);
  --color30: rgb(15, 27, 59);
  --color10: rgb(15, 27, 59);

  --titleFont1: "Vollkorn", serif;
  --titleFont2: "Mukta Malar", sans-serif;
  --titleFont3: "Lenora Premium Bold";
  --textFont1: "Poppins", sans-serif;
  /* --textFont:    */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--body-color);
  padding: 0 clamp(1em, 1em + 2vw, 2em);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(1.4em, 1.4em + 3vw, 5em);
  color: var(--colorText);
  font-family: var(--titleFont3);
}

h2 {
  font-size: clamp(0.8em, 0.8em + 2vw, 1.5em);
  color: var(--colorText);
  font-family: var(--titleFont3);
  letter-spacing: 0.2em;
}

h3 {
  font-size: clamp(0.5em, 0.5em + 2vw, 1.2em);
  font-family: var(--titleFont3);
  font-weight: 400;
}

p,
label,
input[type="text"],
textarea,
option,
select,
button {
  font-size: clamp(0.2em, 0.2em + 2vw, 0.8em);
  font-family: var(--textFont1);
  font-weight: 300;
}
