:root {
  --header-color: rgb(245, 241, 241);
  --body-color: rgb(245, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  padding: 0 clamp(1em, 1em + 2vw, 2em);
}

h1 {
  font-size: clamp(1em, 1em + 2vw, 2em);
}
